compute_hostname_dev=<compute_hostname_dev>
controller_host_dev=<controller_host_dev>
monitoring_host_dev=<monitoring_host_dev>
openstack_password=<openstack_password>
monitoring_host_prod=<monitoring_host_prod>
slack_hook_url=<slack_hook_url>
