# should also freeze depedencies modules
Werkzeug==0.16.0

connexion == 1.1.15
python_dateutil == 2.6.0
setuptools >= 21.0.0
python-openstackclient == 4.0.0
tinydb == 3.15.1
tinydb-serialization == 1.0.4

# clients
git+https://github.com/dpnm-ni/ai_module_client
git+https://github.com/dpnm-ni/trafgen_module_client
