kafka_client:
  consumer:
    bootstrap.servers: <kafka_server_address>:9092
    enable.auto.commit: False
    enable.auto.offset.store: False
    # debug: 'cgrp,fetch,topic,broker,protocol'

openstack_client:
  auth:
    auth_url: "http://<controller_ip>/identity/v3"
    username: "admin"
    password: "<password>"
    project_name: "demo"
    user_domain_id: "default"
    project_domain_id: "default"

influxdb_client:
  server: <influxdb_server_address>
  database: collectd

# The id of compute node should be the same as the node hostname
topo:
  nodes:
  - id: "<node1_id>"
    type: "compute"
    core_freq_MHz: 3200
  - id: "<sw1_id>"
    type: "switch"
  links:
  - id: 1
    node1_id: "<node1_id>"
    node2_id: "<sw1_id>"
    delay_us: 100
    max_bw_mbps: 10000
