collectd:
  consumer:
    bootstrap.servers: <kafka_server_address>:9092
    group.id: collectd_extractor
    auto.offset.reset: earliest

  producer:
    bootstrap.servers: <kafka_server_address>:9092
    queue.buffering.max.messages: 500000
    queue.buffering.max.ms: 1000
    batch.num.messages: 100
    api.version.request: True

  raw_data_topic: collectd_raw

influxdb:
  server: <influxdb_server_address>
  database: collectd
